<header>
    <div class="navbar-top">
        <div class="container">
            <a href="@Url.Action("Index","Home")">
                <img class="logo" src="~/img/logo-pet.png" />
            </a>
            <div class="style-login">
                <img src="~/img/img_user.png" />
               <a href="@Url.Action("Index","Login")">
                   Minha Conta
                </a> 
            </div>
        </div>
    </div>
</header>